$navbarfarbe: #333;
ul.oberleiste {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
		width: 100%;
		position: relative;

		li a, li {
		    color: white;
		    text-align: center;
		    padding: 10px 10px;
		    text-decoration: none;
				position: relative;
				display: inline-block;

				&:hover .dropdown-inhalt {
					opacity: 1;
					visibility: visible;
				}
		}

		.logout {
			position: absolute;
			top: 0;
			right: 0;
		}

		.dropdown-inhalt {
			opacity: 0;
			visibility: hidden;
	    position: absolute;
			top: 100%;
			left: 0;
	    background-color: #333;
			transition: all 0.2s ease-in-out;
      background-color: $navbarfarbe;

			a {
				color: white;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				text-align: left;
				border: 1px solid;
			}
		}

}
