$table-border: 1px solid grey;

table {
	margin: 0px auto;
	border-collapse: collapse;
	border: $table-border;

	td, th {
		border: $table-border;
		padding: 5px 25px;
	}
	td {
		&:first-of-type {
			text-align: center;
		}
	}
}
