/* compiled by scssphp v0.0.12 on Wed, 24 Jan 2018 12:00:25 +0100 (0.35s) */

table {
  margin: 0px auto 1% auto;
  border-collapse: collapse;
  border: 1px solid grey; }
  table td, table th {
    border: 1px solid grey;
    padding: 5px 25px; }
  table td:first-of-type {
    text-align: center; }

label::after {
  display: block;
  content: "";
  margin: 0.5% auto; }
  label input, label select {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 2px;
    transition: all 0.2s ease-in-out; }
    label input:focus, label select:focus {
      box-shadow: 0px 0px 2px #000; }

input[type=submit] {
  font-size: 15px;
  background-color: #333;
  color: #fff;
  padding: 8px 15px;
  border: none;
  transition: all 0.2s ease-in-out; }
  input[type=submit]:hover {
    background-color: #4b4b4b;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 2px #000; }

html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  width: 100%;
  height: 100%; }

.content {
  text-align: center; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #0079e9; }

.alert {
  width: 40%;
  margin: auto;
  background-color: #f32323;
  padding: 10px;
  border-radius: 5px;
  color: #fff; }

ul.oberleiste {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  width: 100%;
  position: relative; }
  ul.oberleiste a {
    padding: 20px; }
  ul.oberleiste li a, ul.oberleiste li {
    color: white;
    cursor: pointer;
    text-align: center;
    position: relative;
    display: inline-block; }
    ul.oberleiste li a:hover .dropdown-inhalt, ul.oberleiste li:hover .dropdown-inhalt {
      opacity: 1;
      visibility: visible; }
  ul.oberleiste .logout {
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s ease-in-out; }
    ul.oberleiste .logout:hover {
      background-color: orange; }
  ul.oberleiste .dropdown-inhalt {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    transition: all 0.2s ease-in-out;
    background-color: #333;
    white-space: nowrap; }
    ul.oberleiste .dropdown-inhalt a {
      color: white;
      padding: 12px 16px;
      display: block;
      border: 1px solid;
      transition: all 0.2s ease-in-out; }
      ul.oberleiste .dropdown-inhalt a:hover {
        background-color: #474747;
        color: #fff; }

footer {
  margin: 2% auto;
  padding: 10px;
  background-color: #333;
  width: 100%;
  color: #fff;
  text-align: center; }
